.col-md-6 {
    display: inline-block;
}

#portrait img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    overflow: hidden;
}

h1 {
    margin: 10px 0;
}

#portrait {
    border-radius: 50%;
    border-width: 5px;
    border-style: solid;
    border-color: #d7ecff;
    overflow: hidden;
    padding: 0;
    width: 350px;
    height: 350px;
    margin: 2em auto;
}

#description {
    margin: 10px auto;
}

p {
    font-size: 1.5em;
    color: dimgray;
    font-family: 'Vollkorn', serif;
}

.icon {
    width: 50px;
    height: 50px;
    margin: 10px;
}

h1 {
    overflow: hidden;
    text-align: center;
    font-style: italic;
    font-family: 'Fredoka One', cursive;
    color: gray;
    /* margin: 50px 0; */
}

h1:before, h1:after {
    background-color: gray;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

h1:before {
    right: 0.5em;
    margin-left: -50%;
}

h1:after {
    left: 0.5em;
    margin-right: -50%;
}