<div class="container">
  <div class="row">
    <div class="col-md-6 animated zoomIn">
      <div id="portrait">
        <img src="../../assets/images/p1.JPG">
      </div>
    </div>
    <div class="col-md-6 animated fadeInRight">
      <h1>About me</h1>
      <div id="description">
        <p>Hi, my name is Wenrong Deng, also known as Andy.
          I am a senior Computer Science major in the Ira A. Fulton
          Schools of Engineering at Arizona State University, graduating this upcoming May 2019.
          I am currently a
          Software Development Intern at Arizona Public Service, focusing on
          Web & Mobile Application Development.</p>
        <div>
          <a href="https://github.com/wdeng13">
            <img class="icon" src="../../assets/icons/github.svg" matTooltip="Github">
          </a>
          <a href="../../assets/files/WenrongDeng_Resume.pdf">
            <img class="icon" src="../../assets/icons/resume_gray.svg" matTooltip="Resume">
          </a>
          <a href="https://linkedin.com/in/wdeng13/">
            <img class="icon" src="../../assets/icons/linkedin.svg" matTooltip="Linkedin">
          </a>
          <a href="mailto:dwrandy520@gmail.com">
            <img class="icon" src="../../assets/icons/email.svg" matTooltip="Email">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>