<div class="container animated fadeInUp">
  <h1>Activities & Interests</h1>
  <div class="row">
    <div class="animated fadeInLeft col-md-6 col-sm-12">
      <div class="detail">
        <h4>ASU Software Developers Association (SoDA)</h4>
        <p>Participate in weekly meetings to discuss careers, technology, and software development.</p>
        <h4>ASU Powerlifting</h4>
        <p>Weekly group exercise and strength training with experienced coaches and students who want to get stronger.</p>
        <h4>ASU Devils in Disguise (Volunteer) - <i>Edkey, Inc. DBA Children First Leadership Academy</i></h4>
        <p>Assist in rejuvenating the appearance and warmth of the campus by painting classrooms and interior hallways.</p>
      </div>
    </div>
    <div class="animated fadeInRight col-md-6 col-sm-12">
      <div class="detail">
        <h4>Tennis</h4>
        <p>One of the few outdoor exercise I enjoy (Although I am not good at it).</p>
        <h4>Working out at the gym</h4>
        <p>I enjoy working out at the gym, it has been one of my biggest achievement so far by losing 70 lbs in 7
          months.</p>
        <h4>Cooking</h4>
        <p>I'd love to learn and cook a various type of food.</p>
        <h4>Video Games</h4>
        <p>I love playing video games with friends and relax.</p>
      </div>
    </div>
  </div>
</div>