.workplace {
    font-family: 'Vollkorn', serif;
}

.workplaceTitle {
    margin-bottom: 10px;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
}

.workplaceImg {
    width: 250px;
}

.detail {
    margin: 0 5%;
}

.projects {
    padding-left: 40px;
}