.workplace {
    font-family: 'Vollkorn', serif;
}

.workplaceTitle {
    margin-bottom: 10px;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
}

.workplaceImg {
    width: 250px;
}

.detail {
    margin: 0 5%;
}

.projects {
    padding-left: 40px;
}

h1 {
    overflow: hidden;
    text-align: center;
    font-style: italic;
    font-family: 'Fredoka One', cursive;
    color: gray;
    margin: 50px 0;
}

h1:before, h1:after {
    background-color: gray;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

h1:before {
    right: 0.5em;
    margin-left: -50%;
}

h1:after {
    left: 0.5em;
    margin-right: -50%;
}