<div class="container animated zoomIn">
    <h1>Experience</h1>
    <div class="animated fadeInUp workplace">
        <!-- <h2 style="padding-top: 150px; color: gray"><i>Working on it...</i></h2> -->
        <div class="text-center workplaceTitle">
            <a href="https://www.aps.com/en">
                <img class="workplaceImg" src="../../assets/images/work/APS_logo.png">
                <h2>Arizona Public Service</h2>
            </a>
        </div>
        <div class="workplaceInfo">
            <h4><i>Software Development Intern</i><span style="float: right">May 2018 - Present</span></h4>
            <br>
            <div class="detail">
                <h5>- Responsibilities</h5>
                <ul>
                    <li>Focus on Web and Mobile App full-stack development.</li>
                    <li>Design overall architecture of the web application.</li>
                    <li>Maintain quality and ensure responsiveness of applications.</li>
                    <li>Design and develope APIs.</li>
                    <li>Collaborate with the engineering team to design and launch new features.</li>
                </ul>
                <h5>- Projects</h5>
                <div class="projects">
                    <h5>Supply Chain Management</h5>
                    <!-- <p class="projectDetail">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
                        repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione
                        quam perferendis esse, cupiditate neque quas!
                    </p> -->
                    <ul>
                        <li>Web application that helps buyers make better procurement decisions.</li>
                        <li>Collaborated with the data science team and created machine learning models to analyze
                            data.</li>
                        <li>Front-end shows recommendations, diagnostic charts, and a data summary.</li>
                        <li>Provides a workflow allowing users to evaluate and decide purchasing decisions.</li>
                    </ul>
                    <h5>Medical Waiver</h5>
                    <ul>
                        <li>Full-stack web application using Angular and Oracle Database.</li>
                        <li>Allows user to manage medical waivers and display crucial information.</li>
                        <li>Designed to streamline security checks for internal purposes at workplace.</li>
                    </ul>
                </div>
                <h5>- Lessons Learned</h5>
                <ul>
                    <li>Solving real-world problems.</li>
                    <li>Proper time management and organization for multiple projects.</li>
                    <li>Team collaboration and communication.</li>
                </ul>
            </div>
        </div>
    </div>
</div>