<div class="wrapper">
  <div class="container text-center">
    <span id="message">I'd love to hear from you!</span>
    <div>
      <a href="https://github.com/wdeng13">
        <img class="icon" src="../../assets/icons/github_bw.svg" matTooltip="Github">
      </a>
      <a href="../../assets/files/WenrongDeng_Resume.pdf">
        <img class="icon" src="../../assets/icons/pdf_bw.svg" matTooltip="Resume">
      </a>
      <a href="https://linkedin.com/in/wdeng13/">
        <img class="icon" src="../../assets/icons/linkedin_bw.svg" matTooltip="Linkedin">
      </a>
      <a href="mailto:dwrandy520@gmail.com">
        <img class="icon" src="../../assets/icons/email_bw.svg" matTooltip="Email">
      </a>
    </div>
  </div>
</div>