<div class="container">
  <h1>Basic Calculator</h1>
  <p>
    This component works exactly like the calculator you know. Click any number to start calculating!
  </p>
  <div id="calculator">
    <div id="display" class="col-12">
      {{displayValue}}
    </div>
    <div id="keypad" class="col-12">
      <div class="row">
        <button class="other col-3" (click)="clearDisplay()">{{clearBtn}}</button>
        <button class="other col-3" (click)="toNegative()">&#177;</button>
        <button class="other col-3" (click)="toPercent()">&#37;</button>
        <button class="operator col-3" (click)="inputOperator('/')" [ngClass]="{isActive: divideIsActive}">&#247;</button>
      </div>
      <div class="row">
        <button class="number col-3" (click)="inputNumber('7')">7</button>
        <button class="number col-3" (click)="inputNumber('8')">8</button>
        <button class="number col-3" (click)="inputNumber('9')">9</button>
        <button class="operator col-3" (click)="inputOperator('*')" [ngClass]="{isActive: timesIsActive}">&#215;</button>
      </div>
      <div class="row">
        <button class="number col-3" (click)="inputNumber('4')">4</button>
        <button class="number col-3" (click)="inputNumber('5')">5</button>
        <button class="number col-3" (click)="inputNumber('6')">6</button>
        <button class="operator col-3" (click)="inputOperator('-')" [ngClass]="{isActive: minusIsActive}">&#8722;</button>
      </div>
      <div class="row">
        <button class="number col-3" (click)="inputNumber('1')">1</button>
        <button class="number col-3" (click)="inputNumber('2')">2</button>
        <button class="number col-3" (click)="inputNumber('3')">3</button>
        <button class="operator col-3" (click)="inputOperator('+')" [ngClass]="{isActive: plusIsActive}">&#43;</button>
      </div>
      <div class="row">
        <button class="number col-6" (click)="inputNumber('0')">0</button>
        <button class="other col-3" (click)="toDecimal()">.</button>
        <button class="operator col-3" (click)="inputOperator('=')">&#61;</button>
      </div>
    </div>
  </div>
</div>