.skill {
    font-family: 'Vollkorn', serif;
    margin: 0 5%;
}

.progressBar {
    margin-top: 14px;
}

@media screen and (max-width: 767px) {
/* start of medium tablet styles */
    .progressBar {
        margin: 0;
    }
}