/* Navbar */
.navbar {
    font-size: 1.25em;
    padding: 3px 0;
}

.navbar-brand {
    display: table;
}

.navbar-pic {
    width: 60px;
    height: auto;
    display: table-cell inline-block;
    border-radius: 50%;
    border-width: 3px;
    border-style: solid;
    border-color: #d7ecff;
    overflow: hidden;
    vertical-align: middle;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.name {
    font-size: 2em;
    display: table-cell;
    vertical-align: middle;
    /* font-weight: bold; */
    font-style: italic;
    font-family: 'Fredoka One', cursive;
}

@media screen and (max-width: 991px) {
    /* start of large tablet styles */
        .name {
            font-size: 1.25em;
        }
        .nav-item {
            margin-left: 20px;
        }
        .navbar {
            padding: 0 5px;
        }
    }