/* Navbar */
.navbar {
    font-size: 1.5rem;
}

.navbar-brand {
    display: table;
}

.navbar-pic {
    width: 60px;
    height: auto;
    display: inline-block;
    border-radius: 50%;
    border-width: 5px;
    border-style: solid;
    border-color: aliceblue;
    overflow: hidden;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.name {
    font-size: 2rem;
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
}

/* About Me */
#aboutMe {
    height: 500px;
}

#aboutMe .col-md-6 {
    display: inline-block;
}

#portrait {
    border-radius: 50%;
    border-width: 5px;
    border-style: solid;
    border-color: aliceblue;
    overflow: hidden;
    padding: 0;
    width: 300px;
    height: auto;
    margin: 50px 10%;

}

#description {
    margin: 50px 10%;
}

/* Education */
#education {
    height: 720px;
    background-image: url(../../assets/image/asu1.jpg);
    background-size: inherit;
}

/* Experience */
#experience {
    height: 800px;
}