/* Navbar */
.navbar {
    font-size: 1.5em;
}

.navbar-brand {
    display: table;
}

.navbar-pic {
    width: 60px;
    height: auto;
    display: inline-block;
    border-radius: 50%;
    border-width: 5px;
    border-style: solid;
    border-color: aliceblue;
    overflow: hidden;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.name {
    font-size: 2em;
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
}

/* About Me */
#aboutMe {
    /* height: 500px; */
}

#aboutMe .col-md-6 {
    display: inline-block;
}

#aboutMe a {
    margin: 10px;
}

#aboutMe img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    overflow: hidden;
}

#portrait {
    border-radius: 50%;
    border-width: 5px;
    border-style: solid;
    border-color: aliceblue;
    overflow: hidden;
    padding: 0;
    width: 300px;
    height: auto;
    margin: 2em auto;
}

#description {
    margin: 2em auto;
}

/* Education */
#education {
    position: relative;
}

#education #asuDescription img {
    height: 100px;
    width: auto
}

#degree {
    margin: 10px 30px;
}

#asuDescription {
    height: 500px;
    width: 800px;
    z-index: 5;
    display: inline;
    background-color: white;
    position: absolute;
    opacity: 0.9;
    border-radius: 20px;
    margin: 20px calc((100% - 800px) / 2);
}

ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

#asuDescription h2 {
    color: #f7cd4b;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #92284e;
}

#asuDescription h2:hover {
    color: #92284e;
}

a {
    text-decoration: none;
}

#degree h4 {
    color: gray;
}

#degree h4:hover {
    color: #92284e;
}

.fas {
    margin-right: 5px;
}

/* Experience */
#experience {
    height: 500px;
}

/* Footer */
footer {
    text-align: center;
    background: #272727;

}
footer p {
    font-weight: 300;
    font-size: 1em;
    color: #dfdfdf;
    letter-spacing: 2px;
    padding: 1em 0px;
    margin: 0;
}
footer p a {
  color: #fff;
  font-weight: bold;
}
footer p a:hover {
  color: #fff;
}

.backToTop {
    background-color: #3C3D41;
    z-index: 100;
    width: 50px;
    height: 50px;
    line-height: 47px;
    position: fixed;
    bottom: -100px;
    border-radius: 3px;
    right: 20px;
    text-align: center;
    font-size: 28px;
    color: #ffffff !important;
    cursor: pointer;
    -webkit-transition: all .7s ease-in-out;
    -moz-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    -ms-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
}